absl-py==0.11.0
aiodns==2.0.0
aiohttp==3.7.3
aiohttp-socks==0.4.1
astor==0.8.1
astroid==2.4.2
astropy==4.0.2
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
base58==2.1.0
bkcharts==0.2
blinker==1.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.1
cchardet==2.1.7
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clyent==1.2.1
colorama==0.4.3
comtypes==1.1.7
contextlib2==0.6.0.post1
cssselect==1.1.0
cycler==0.10.0
cytoolz==0.11.0
dataclasses==0.6
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
demjson==2.2.4
docutils==0.16
elasticsearch==7.11.0
entrypoints==0.3
et-xmlfile==1.0.1
facebook-scraper==0.2.41
fake-useragent==0.1.11
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
gast==0.3.3
geographiclib==1.50
geopy==2.1.0
gitdb==4.0.5
GitPython==3.1.12
glob2==0.7
google-auth==1.26.1
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googletransx==2.4.2
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
imagesize==1.2.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab==2.2.6
Keras==2.4.3
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
libarchive-c==2.9
linkedin-scraper==2.8.2
llvmlite==0.34.0
locket==0.2.0
lxml==4.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mock==4.0.2
mpmath==1.1.0
msgpack==1.0.0
multidict==5.1.0
multipledispatch==0.6.0
nose==1.3.7
numba==0.51.2
numexpr==2.7.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.5
parse==1.19.0
parso==0.7.1
partd==1.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==8.1.0
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.14.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.6
pydeck==0.5.0
pyee==8.1.0
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.5.3
pyodbc===4.0.30
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
pyreadline==2.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.4
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtPy==1.9.0
requests-html==0.10.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7
ruamel-yaml==0.15.87
sacremoses==0.0.43
schedule==1.0.0
Send2Trash==1.5.0
sentencepiece==0.1.95
simplegeneric==5.0.0
sip==5.0.0
six==1.15.0
smmap==3.0.5
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
streamlit==0.75.0
tables==3.6.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
tokenizers==0.10.1
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
traitlets==4.3.3
transformers==4.3.2
twint @ file:///C:/Users/Dell/Desktop/projet/Sentiment%20Analysis/streamlit/sentiment_analysis/twint/twint
tzlocal==2.1
unicodecsv==0.14.1
urllib3==1.26.3
validators==0.18.2
w3lib==1.22.0
watchdog==2.0.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
xlwings==0.20.8
xlwt==1.3.0
yarl==1.6.3
zict==2.0.0
zope.event==4.5.0